<div layout="column">
  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Back end dev challenge task</h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <p>
      Demo of using customer registration service. You can register your application and receive token to get data of concrete user by email to integrate it in you website
    </p>

    <p>
      You can imitate in test page your application
    </p>

    <p>
      You can add application and receive token and authorize your application in request to API
    </p>

    <p>
      In registration page, you can add data to our service to share data to 3rd party services
    </p>

    <p>
      Check API documentation page to view more information about different calls, parameters and return values.
    </p>
  </md-content>
</div>