<!DOCTYPE html>
<html lang="en-us" data-ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Custom registration service</title>

  <link href="../lib/angular-material/angular-material.css" rel="stylesheet" />
  <link href="../app/content/css/app.css" rel="stylesheet" />
  <link href="../app/content/css/spinner.css" rel="stylesheet" />
</head>

<body layout="column">

  <md-toolbar layout="row" data-ng-controller="HomeController as vm">
    <md-button class="menu" data-ng-click="vm.toggleList()" hide-gt-sm aria-label="Show menu">
      <md-icon md-svg-src="../app/content/svg/ic_menu_white_24px.svg"></md-icon>
    </md-button>
    <h2 style="padding-left: 10px;"><a href="/#/home">Custom service registration</a></h2>
  </md-toolbar>

  <div class="container" layout="row" flex data-ng-controller="HomeController as vm">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id='left' class="md-whiteframe-4dp">
      <md-list data-ng-click="vm.toggleList()">
        <md-list-item class="menu-button">
          <md-button href="/#/Home">
            <md-icon md-svg-src="../app/content/svg/ic_store_black_24px.svg"></md-icon>
            Home
          </md-button>
        </md-list-item>
        <md-list-item class="menu-button">
          <md-button href="/#/register-app">
            <md-icon md-svg-src="../app/content/svg/ic_input_black_24px.svg"></md-icon>
            Register application in service
          </md-button>
        </md-list-item>
        <md-list-item class="menu-button">
          <md-button href="/#/token-app">
            <md-icon md-svg-src="../app/content/svg/ic_lock_open_black_24px.svg"></md-icon>
            Get token for existing app
          </md-button>
        </md-list-item>
        <md-list-item class="menu-button">
          <md-button href="/#/register-user">
            <md-icon md-svg-src="../app/content/svg/ic_person_black_24px.svg"></md-icon>
            Register user in service
          </md-button>
        </md-list-item>
        <md-list-item class="menu-button">
          <md-button href="/#/test-app">
            <md-icon md-svg-src="../app/content/svg/ic_desktop_windows_black_24px.svg"></md-icon>
            Test as application
          </md-button>
        </md-list-item>
        <md-list-item class="menu-button">
          <md-button href="/swagger/ui">
            <md-icon md-svg-src="../app/content/svg/ic_info_black_24px.svg"></md-icon>
            API Documentation
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content id="content" flex data-ng-view="">

    </md-content>
  </div>
  <!-- Angular vendors -->
  <script src="../lib/angular/angular.min.js"></script>
  <script src="../lib/angular-route/angular-route.min.js"></script>

  <script src="../lib/angular-animate/angular-animate.min.js"></script>
  <script src="../lib/angular-aria/angular-aria.min.js"></script>
  <script src="../lib/angular-material/angular-material.min.js"></script>
  <script src="../lib/angular-clipboard/angular-clipboard.js"></script>
  <!-- Angular app -->
  <script src="/app/app.js"></script>
  <script src="/app/app.config.js"></script>
  <script src="/app/app.routes.js"></script>

  <script src="/app/components/home/home.controller.js"></script>
  <script src="/app/components/register-app/register-app.controller.js"></script>
  <script src="/app/components/register-user/register-user.controller.js"></script>
  <script src="/app/dialogs-controllers/wait.dialog.controller.js"></script>
  <script src="/app/components/test-app/test-app.controller.js"></script>
  <script src="/app/components/token-app/token-app.controller.js"></script>

  <script src="/app/services/applicationService.js"></script>
  <script src="/app/services/authTokenService.js"></script>
  <script src="/app/services/accountService.js"></script>

  <script src="/app/utility/spinner.utility.js"></script>
</body>
</html>