html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

md-toolbar h3 {
    margin: auto;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

    md-list .md-button.selected {
        color: #03a9f4;
    }

md-dialog {
    overflow: visible;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.fade.in {
    opacity: 1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}