<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Register application in service</h2>
  </div>
</md-toolbar>
<form name="userForm" ng-submit='vm.submitRegistration(vm.applicationData)'>
  <div layout-gt-sm="row">

    <md-input-container class="md-block" flex-gt-sm>
      <label>Application name</label>
      <input flex="70" required name="name" ng-model="vm.applicationData.Name" />

    </md-input-container>

  </div>
  <div layout-gt-sm="row" ng-if="vm.tokenRecived">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Token</label>
      <input flex="70" name="token" ng-disabled="true" ng-model="vm.applicationData.Token" />
      <md-button clipboard supported="supported" text="vm.applicationData.Token" class="md-primary md-hue-1">Copy token</md-button>
    </md-input-container>

  </div>
  <md-content flex layout-padding>
    <p class="md-body-2">
      The result of the authentication our application is a token, which you have to put in the header of all calls the api.
      <br />
      <br />
      Create header <b>Authorization</b> with recived value above.

      All calls to the API are standard REST calls.
      <br />
      For recive user data by email your must use token.
      <br />
      <br />
      After pressing button above, starts two post requests on api first to register application to <b>api/application/create</b>
      and second to recive token on <b>/api/token/</b> with with Content-Type': 'application/x-www-form-urlencoded'
      where contains app name to recive token.
  </md-content>
  <div layout-gt-sm="row">
    <div class="alert alert-danger fade in margin-top-20" data-ng-show="vm.errorMsg">
      {{vm.errorMsg}}
    </div>
  </div>
  <div layout-gt-xs="row">
    <md-input-container>
      <md-button type="submit" class="md-raised md-primary">Registrate app and recive token</md-button>
    </md-input-container>
  </div>
</form>
